/*This is a comment in CSS*/
body/*This is the 'Selector'*/ {
	width: 1000px;
	margin: auto;
}
#mainBody {
	background-color: #000000;
	margin: auto;
}
#headerPage {
	margin: .5em;
	background-image: url('resources/dadgumHeader.png');
	border-radius: 10px 10px 10px 10px;/*Rounds the corners*/
	background-repeat: no-repeat;
}
#linkHome {
	height: 95px;
	width: 975px;
}
#contactUs {
	height: 105px;
	width: 975px;
}
#footerPage {
	margin: .5em;
	background-image: url('resources/dadgumFooter.png');
	background-repeat: no-repeat;
	background-position: center top;
	height: 105px;
	width: 975px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
a.footer {
	text-decoration: none;
	color: #FFFFFF;
}
h3{
	color: #00ff00;
}
/*this is for the menu div */
#menuBox {
	/*border:4px solid gray;*/
	margin: .5em;
	background-color: #000000;
	height: 895px;
	width: 975px;
	overflow: visible;
}
/*Beginning of the image_map*/
#image_map {
	height: 895px;
	width: 990px;
	background: url('menu_items/Jap1-3.png') no-repeat;
	position: relative;
	background-position: center top;
} 
#image_map a {
	display: block;
	position: absolute;
} 
#image_map a.menu {
	width: 100px;
	height: 50px;
	top: 340px;
}
#image_map a#link4 {
	width: 30px;
	height: 35px;
	top: 385px;
	left: 395px;
	/*border:4px solid #006600;*/
}
/*End of the rollover links placed by image_map*/
/*Beginning of the popup image*/
span {
	display: none;
}
a:hover {
	background: none repeat scroll 0 0 /*#FFFFCC*/;
	color: #666666;
	text-decoration: none;
}
a:hover .freshRollover {
	/*border: 1px solid yellow;*/
	display: block;
	height: 75px;
	width: 415px;
	top: -25px;
	right: 25px;
	position: absolute;
	text-align: center;
	z-index: 2;
}
/*End of the popup image*/
/*Beginning of CSS for dadgumAbout.php*/
#aboutBody {
	background-color: #000000;
}
#aboutBox {
	background: url('images/tomato_Resize.png') no-repeat;
	position: relative;
	background-position: center top;
	margin: .5em;
	width: 975px;
	height: 700px;
	border: 4px solid #FF3300;
}
div.transbox {
	width: 700px;
	height: 400px;
	margin-top: 150px;
	margin-right: auto;
	margin-left: auto;
	background-color: #ffffff;
	border: 1px solid black;
	/* for IE */
	filter: alpha(opacity=60);
	/* CSS3 standard */
	opacity: 0.5;
}
div.transbox p, h2 {
	margin: 30px 40px;
	font-weight: bold;
	color: #000000;
}
/*End of CSS for dadgumAbout.php*/
/*Beginining of dadgumOrder.php*/
#order {
	background: url('images/tomato_Resize.png') no-repeat;
	position: relative;
	background-position: center top;
	margin: .5em;
	height: 275px;
	width: 975px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
#payment-form {
	color: #FFFFFF;
	position: relative;
	background-position: center top;
	margin: .5em;
	height: 250px;
	width: 975px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #FFFFFF;
}


/*End of dadgumOrder.php*/