#aboutBody {
	background-color:#000000;
}
#aboutBox {
	/*padding:0px;
	background-color:#000000;*/
	border:4px solid #66FFFF;	
	background:url('images/tomato_Resize.png') no-repeat;
	position:relative;
	background-position: center top;
	margin: .5em;
    width: 975px;
	height: 700px;

}

div.transbox
  {
	width:700px;
	height:400px;
	margin-top: 150px;
	margin-right: auto; 	
	margin-left: auto;
	background-color:#ffffff;
	border:1px solid black;
	/* for IE */
	filter:alpha(opacity=60);
	/* CSS3 standard */
	opacity:0.5;
  }
div.transbox p, h2
  {
  margin:30px 40px;
  font-weight:bold;
  color:#000000;
  }