body
{
	background-color: #FFFFFF;
	position: absolute;
	height: 478px;
	width: 1024px;

}
#frontImage
{
	position: absolute;
	right: 75px;
	height: 500px;
	width: 600px;
/*	bottom: 250px;*/
}
#video
{
	position: absolute;
	right: 25px;
	width: 640px;
	height: 368px;
}
#contact-info
{
/*	border: 1px solid #000000;*/
	position: absolute;
	height: 250px;
	width: 576px;
	right: 0px;

}
#payment-form
{
	position: absolute;
	right: 0px;
}
#orderImg
{
	position: absolute;
	width: 375px;
	height: 300px;
	left: 15px;
}
#mainFrame
{
/*	border: 1px solid #000000;*/
	position: absolute;
	height: 500px;
	width: 1024px;
	top: 60px;
	left: 25px;

}
#menuFrame
{
/*	border: 2px solid #000000;*/
	position: absolute;
	left: 25px;
	bottom: -100px;
	width: 1024px;
	height: 215px;
}
#pageTitle
{
	position: absolute;
	bottom: 50px;
	left: 15px;
}
#menuBar
{
	position: absolute;
/*	border: 1px solid #000000;*/
	bottom: 25px;
	left: 75px;
	height: 25px;
	width: 275px;
}
#aboutLink
{
	position: absolute;
	height: 25px;
	width: 65px;
}
#blogLink
{
	position: absolute;
	height: 25px;
	width: 50px;
	left: 73px;
}
#orderLink
{
	position: absolute;
	height: 25px;
	width: 60px;
	left: 133px;
}
#contactLink
{
	position: absolute;
	height: 25px;
	width: 60px;
	left: 197px;
}
#payment-form
{

/*	border: 1px solid #000000;*/
	width: 624px;
	height: 368px;

}
a.linkopacity img 
{
	filter:alpha(opacity=25);
	-moz-opacity: 0.25; 
	opacity: 0.25;
	-khtml-opacity: 0.25;
}
a.linkopacity:hover img 
{
	filter:alpha(opacity=100); 
	-moz-opacity: 1.0; 
	opacity: 1.0;
	-khtml-opacity: 1.0; 
}
