<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link type="image/png" rel="shortcut icon" href="{{ MEDIA_URL }}/media/images/tomato_Favicon.png"/>
    <meta name="author" content="Brian Alexander" />
    <meta name="description" content="Dad Gum Salsa Coming Soon!" />
    <meta name="keywords" content="Dad Gum, Salsa, Dad Gum Salsa, Chips and Salsa" />  
    <title>Dad Gum Salsa | {% block head_title %}title{% endblock %}</title>
    <!--Cascading Style Sheets for this Dad'Gum Website--> 
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/static/DGSstyle.css" />
    {% block page_scripts %}
    {% endblock %}
</head>
    <body>
        <table>
            <!-- <tr> -->
                <td class='left-frame'>
                    {% block left_frame %}
                    {% endblock %}
                </td>
            	<td class="main-frame">
                    {% block content %}
                    {% endblock %}
                </td>
            <!-- </tr> -->
        </table>
        {% include "main/menu.html" %}
    </body>
</html>